*{
    background-color: rgb(204, 249, 249);
}



.user{
    width:fit-content ;
    margin: 150px auto;
    display: flex;

}
.user img{
    width:320px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3) ;
}
.info{
    padding: 10px 50px;
    transform: translate3d(50px);
    opacity: 1;
    transition: transform 1s,opacity 1s;
}
.info h1 {
    font-size: 80px;
    font-weight: 500;
    
}
.info p{
    line-height: 30px;
}
.info a{
    background: #4f40ff;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 50px;
    margin-top:20px ;
    border-radius: 30px;
}
.info span{
    color: #4f40ff;
    font-weight: 500;
}
.close-icon{
    width: 320px;
    cursor: pointer;
    position: relative;
}

.close-icon::before, .close-icon::after{
  content: '';
  height: 100%;  
  width: 2px;
  background: rgb(186, 90, 90);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
 
}

.close-icon::before{
    transform: rotate(30deg);

}
.close-icon::after{
    transform: rotate(-30deg);
}
.hide-details .info{
    transform: translate3d(50px);
    opacity: 0;

}
.hide-details .close-icon{
    transform: translate(-410px);
}
.hide-details img{
    transform: translate(410px);
box-shadow: 0 0 0 rgb(186, 90, 90);
}